body {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 18px;
    margin: 0px 8vw;
    background-color: #46AFBF;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-bottom: solid 2px;
}

.logo {
    width: 150px;
}

.titulo {
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
}

.texto {
    margin-top: 170px;
}

@media (max-width: 700px) {
    body{
        font-size: 16px;
    }
}
