* {
  margin: 0;
  border: none;
}

#bloco {
  background-color: #46AFBF;
  margin-top: 8%;
}

h1 {
  background-color: #fff;
  box-shadow: 10px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 10px;
  padding: 15px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  border-radius: 35px;
  width: 50vw;
  height: 20vh;
  margin-left: 24%;
  margin-bottom: 30px;
}

#perguntas{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pergunta {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0px auto;
}

.pergunta h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.pergunta p {
  font-size: 18px;
  color: #333;
}

a{
  color: black;
  list-style: none;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  h1{
    font-size: 40px;
    width: 50vw;
    margin-left: 22.5%;
  }
}

@media only screen and (max-width: 600px) {
  h1{
    width: 70vw;
    margin-left: 12.5%;
  }
}