<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Phillipe de Brito Caraça, Samuel Schlemper">
    <meta name="description" content="Pagina de noticias da chapa UFC do IFSC campus Palhoça bilíngue">
    <meta name="keywords" content="Noticias, UFC, IFSC, Palhoça, phb">
    <meta name="rating" content="general">
    <meta http-equiv="cache-control" content="private">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index">
    <link rel="stylesheet" href="/forum.css">
    <link rel="stylesheet" href="/generico.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Foruns</title>
</head>

<body>
    <nav>
        <img src="/Imagem_do_WhatsApp_de_2023-04-05_à_s__16.08.06-removebg-preview.png" alt="Logo chapa UFC" class="logo">
        <div id="guia">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/sigaa">Sigaa</a></li>
                <li><a href="/moodle">Moodle</a></li>
                <li><a class="active" href="/forum">Forum</a></li>
            </ul>
            <div>
                <input type="checkbox" class="checkbox" id="chk" />
                <label class="label" for="chk">
                <i class="fa fa-moon-o"></i>
                <i class="fa fa-sun-o"></i>
                <div class="ball"></div>
                </label>
            </div>
        </div>
    </nav>
    
    <img src="/logo-removebg-preview.png" alt="Logo do IFSC campus Palhoça bilíngue" id="img">
    <div id="ids">
    <a
        href="https://www.google.com/maps/place/IFSC+Câmpus+Palhoça+Bilíngue/@-27.6304252,-48.6885345,16z/data=!4m6!3m5!1s0x9527356549320725:0xe7d980a31cab08df!8m2!3d-27.6301305!4d-48.6892748!16s%2Fg%2F1pv5__525?entry=ttu"><i
        class="fa fa-map-marker fa-3x" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-calendar fa-3x" aria-hidden="true"></i></a>
    <a href="/perguntas_frequentes"><i class="fa fa-question-circle fa-3x" aria-hidden="true"></i></a>
    </div>

    <div id="bloco">
        <div class="titulo">
            <h1>Foruns</h1>
        </div>

        <div id="foruns">
    
        </div>
    </div>

    <script src="/forum.js"></script>
    <script>
        let foruns = `<%= foruns %>`
        working(foruns.replace(/&#34;/g, '"'))
    </script>
</body>

</html>