<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <form method="post" action="/criar_forum">
        <input type="password" name="senha" placeholder="Senha" id="entrada">
        <br>
        <input type="submit" value="Entrar" id="botao">
    </form>

    <%if(alert){%>
        <script>
            history.pushState({}, null, '/logar_forum')
            alert('Senha errada')
        </script>
    <%}%>
</body>
</html>